div.main {
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;

}

div.sub {
    text-align: center;
    padding: 5px 5px;
    font-weight: bold;

}

img {
    width: 100%;
    height: auto;
}