body{
    text-align:center;
}
table{
    width: 100%;
}
table, th,td{
    border-collapse: collapse; /*선을 합치는 것 seperate = 나눔 */
    font-size: 12px;
    padding: 5px; /* 안쪽의 여백(margin) 표시 */
}
th#th1{
    background-color: #43cdff;
    color: white;
}
th#th2{
    background-color: #81d733;
    color: white;
}
th#th3{
    background-color: yellow;
}
th#th4{
    background-color: orange;
}
th#th5{
    background-color: red;
    color: white;
}
caption{
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}